.max-w-content {
  max-width: var(--width-content);
}

.min-h-content {
  min-height: calc(100dvh - var(--height-header) - var(--height-footer));
}
.layout-content {
  @apply w-full max-w-content mx-auto
}

.mt-header {
  margin-top: var(--height-header);
}
